# Archives and backups
*.tar
*.tar.gz
*.tgz
*.zip
temp_sessions/
back_up/
backup/
backups/

# Temporary files
*~
*.tmp
*.swp

# Python
__pycache__/
*.py[cod]

# Build outputs
build/
cmake-build-*/
*.o
*.obj

# Editors
.vscode/
.idea/

# Operating system files
.DS_Store
/ADSI_Theory/
